@charset "UTF-8";

body {
    background-color: #FF0054;
}

header {
    background-image: linear-gradient(to bottom, #FF005A, #FF2883 );
    font-family: "Passion One", system-ui;
    font-weight: 900;
    font-style: normal;
    font-variant: small-caps;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    color: white;
}

h2 {
    background-image: linear-gradient(to right, #FF0054, transparent );
    color: white;
    font-family: "Passion One", system-ui;
    font-weight: 600;
    font-style: normal;
    font-variant: small-caps;
}
main {
    min-width: none;
    max-width: 800px;
    margin: auto;
    background-color: white;

    
}

main p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2em;
    line-height: 35px;
    padding-right: 10px;
    padding-left: 5px;
}

article.imagem#img01   {
    background-image: url('imagens/oldtrafford.png');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;

    
}

article.imagem#img02 {
    background-image: url('imagens/mancity.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    
}

article.imagem#img03 {
    background-image: url('imagens/chelsea.png');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    margin-top: 20px;

}

article.imagem#img04 {
    background-image: url('imagens/arsenal.png');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
}

article.imagem#img05 {
    background-image: url('imagens/liverpool.png');
    background-position: center left;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    margin-top: 20px;
}

article.imagem#img06 {
    background-image: url('imagens/blackburn.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    margin-top: 20px;
}

article.imagem#img07 {
    background-image: url('imagens/leicester.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 20px; 
}

article.imagem > p {
    color: white;
    display: inline-block;
}

footer { 
    background-color: white;
    color: black;
    max-width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding-top: 10px;
}

footer a {
    font-weight: bolder;
    font-size: 1em;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #FF0054;
}



