@charset "UTF-8";

header {
    text-align: center;
}
main {
    min-width: none;
    max-width: 800px;
    margin: auto;
    
}

main p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2em;
    line-height: 30px;
}

article.imagem#img01 > p {
    background-image: url('imagens/oldtrafford.png');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;

    
}

article.imagem#img02 {
    background-image: url('imagens/mancity.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    
}

article.imagem#img03 {
    background-image: url('imagens/chelsea.png');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    margin-top: 20px;

}

article.imagem#img04 {
    background-image: url('imagens/arsenal.png');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

article.imagem#img05 {
    background-image: url('imagens/liverpool.png');
    background-position: center left;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    margin-top: 20px;
}

article.imagem#img06 {
    background-image: url('imagens/blackburn.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    margin-top: 20px;
}
article.imagem > p {
    color: white;
    display: inline-block;
}


