@charset "UTF-8";

article.imagem  {
    background-image: url('imagens/oldtrafford.png');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;

}

article.imagem > p {
    background-color: white;
    color: black;
}
